<a href="https://colab.research.google.com/github/ArnavDutta1/home-assignments/blob/main/Copy_of_While_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Print multiplication table of 24 and 50 upto 10

In [ ]:
num=int(input('enter your number'))
i=1
while i<=10:
    print(num,'x',i,'=',num*i)
    i=i+1

enter your number24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

# 2.Write a while loop statement to print the following series 107,100,93,86....9

In [ ]:
l1=[]
i=114
n=7
while i>9:
   i=i-7
   l1.append(i)
print(l1)

[107, 100, 93, 86, 79, 72, 65, 58, 51, 44, 37, 30, 23, 16, 9]

# 3. Write a program to print the factorial of a number accepted from user.

In [ ]:
 n=0
i=int(input('enter your number'))
count=i
fact=1
while count>0:
  for i in range(1,i+1):
    fact= fact*i
    count=count-1
print(fact)

enter your number5
120

# 4.Write a program to accept 10 numbers from the user and display it’s average

In [ ]:
sum=0
i=0
while(i<10):
    num=int(input('Enter number'))
    sum=sum+num
    i=i+1
print('The sum is',sum)    
print("average is",sum/10)

Enter number1
Enter number2
Enter number3
Enter number4
Enter number5
Enter number6
Enter number7
Enter number8
Enter number9
Enter number10
The sum is 55
average is 5.5

# 5. Write a program to print the following series till n terms. 2 , 22 , 222 , 2222 _ _ _ _ _ n terms

In [ ]:
i=0
a='2'
num=int(input("enter number"))
while(i<num):
    print(a,end=",")
    a=a+'2'
    i=i+1

enter number5
2,22,222,2222,22222,

# 6.Write a Program to print all the characters in the string ‘PYTHON’ using while loop.

In [ ]:
a=input('enter your word:')
i=0
while (i < len(a)):
    print(a[i])
    i=i+1

enter your word:python
p
y
t
h
o
n